<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--<add key="sysEmail" value="keywordcompeting@gmail.com"/>
    <add key="sysEmailPwd" value="share18kc"/>-->
		<add key="sysEmail" value=""/>
		<add key="sysEmailPwd" value=""/>
		<add key="sysPop3" value="pop.gmail.com"/>
		<add key="sysPort" value="995"/>
		<add key="sysSSL" value="True"/>
		<add key="sysSender" value="transactions@swreg.org"/>
		<add key="downloadFile" value="http://www.foldertransfer.com/download/backupcow.zip"/>
	</appSettings>
	<connectionStrings>
		<add name="KeywordComptingConnectionString" connectionString="Data Source=newserver;Initial Catalog=BackupCow;Persist Security Info=True;User ID=Filecloud;Password=123456" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<httpRuntime maxRequestLength="10240" executionTimeout="10800" appRequestQueueLimit="1000"/>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<authentication mode="Windows"/>
		<customErrors mode="Off"/>
	</system.web>
</configuration>
